@using Microsoft.AspNetCore.Identity
@using Joya.Models

@model Joya.Models.RingFilterViewModel
@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>
<form asp-controller="Rings" asp-action="Index" method="get">
    <p>


        @Html.DropDownList("RingType", (SelectList)Model.Types, "Select Ring Type")
        @Html.TextBox("SearchString", "")
        @* Color: <input type="text" asp-for="SearchString" />*@
        <input type="submit" value="Filter" />


    </p>
</form>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<div style="display:flex" ;>
    <div style="flex:auto" ;>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Rings[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rings[0].Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rings[0].Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rings[0].Color)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rings[0].SupplierId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rings[0].Size)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rings[0].ImageLocation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rings[0].BusinessName)
                </th>
                <th></th>
            </tr>

            <tbody>
                @foreach (var item in Model.Rings)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Color)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SupplierId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Size)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ImageLocation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BusinessName)
                        </td>
                        @if (User.IsInRole("Admin"))
                        {
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.CatalogNumber">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.CatalogNumber">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.CatalogNumber">Delete</a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div style="justify-content: flex-end;">
        <iframe src="https://www.widgets.investing.com/live-currency-cross-rates?theme=lightTheme&roundedCorners=true&cols=last,changePerc,time&pairs=9687,9723" width="300" height="600" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0"></iframe><div class="poweredBy" style="font-family: Arial, Helvetica, sans-serif;">Powered by <a href="https://www.investing.com?utm_source=WMT&amp;utm_medium=referral&amp;utm_campaign=LIVE_CURRENCY_X_RATES&amp;utm_content=Footer%20Link" target="_blank" rel="nofollow">Investing.com</a></div>
    </div>
</div>
