@using Joya.Models

@model Joya.Models.RingFilterViewModel
@{
    ViewData["Title"] = "Rings collection";
}

<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width: 300px;
        height:500px;
        margin: auto;
        text-align: center;
        font-family: arial;
    }

    .price {
        color: grey;
        font-size: 22px;
    }

    .card button {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

        .card button:hover {
            opacity: 0.7;
        }
</style>
<div>
    <div style="display:flex" ;>
        @foreach (var item in Model.Rings)
        {
            <div class="card">
                <img src=@Html.DisplayFor(modelItem => item.ImageLocation) alt=@Html.DisplayFor(modelItem => item.Name) style="width:298px;height:298px">
                <h1>  @Html.DisplayFor(modelItem => item.Name)</h1>
                <p class="price"> @Html.DisplayFor(modelItem => item.Price) $</p>
                <p> A @Html.DisplayFor(modelItem => item.Type) Ring, Size - @Html.DisplayFor(modelItem => item.Size) ,Color -  @Html.DisplayFor(modelItem => item.Color)</p>
                <p style="margin-bottom: 0px;"><button>Add to Cart</button></p>
            </div>
        }

    </div>
   
</div>